.workout-card {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
  text-align: left;
}

.workout-card p {
  margin: 4px 0;
}

.workout-card__title {
  font-weight: 600;
}

.workout-card__date {
  color: #333333;
}

.workout-card__duration {
  color: #333333;
  display: flex;
}
